@import "../../styles/function.scss";
@import "../../styles/var.scss";

.card {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform-origin: 50% 100%;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
  position: relative;
  border-radius: 2rem;

  a {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  @media (hover: hover) {
    &:hover {
      transform: scale(1.02);
    }
  }
}

.item-thumbnail {
  width: 100%;
  aspect-ratio: 380/200;
  object-fit: cover;
  border-bottom: 1px solid var(--grayLv2);
  border-radius: 2rem 2rem 0 0;
}

.item-content {
  @extend .fs14;
  padding: 2.4rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  .item-content-title {
    @extend .fs18;
    @include ellipse(1, 1.4);
  }

  .item-content-subtitle {
    @extend .fs16;
    color: var(--grayLv4);
    font-weight: 600;
    margin-top: 0.4em;
    @include ellipse(1, 1.4);
  }

  .item-content-desc {
    color: var(--grayLv4);
    @include ellipse(2);
  }

  .item-content-price {
    margin-top: auto;
    @extend .fs16;
    font-weight: bold;
    display: flex;
    gap: 0.5rem;

    span {
      color: var(--primary);
    }
  }
}

.flex-container {
  display: flex;
  gap: 0.8rem;
}
