@import "../../styles/var.scss";

.btn {
  @extend .fs14;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  height: 4.2rem;
  padding: 0 2rem;
  border-radius: $borderRadius;

  box-sizing: border-box;
  border: 1px solid var(--grayLv2);

  color: var(--grayLv4);

  transition: all 0.3s;

  svg path {
    transition: all 0.3s;
  }

  // disabled
  &:disabled {
    background-color: var(--grayLv2);
    opacity: 0.4;
    border: 0;
    border: 1px solid red;
  }

  // hover
  @media (hover: hover) {
    &:not(:disabled):hover {
      color: var(--primary);
      background-color: var(--grayLv1);

      svg path {
        fill: var(--primary);
      }
    }
  }
}

a.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// solid
.solid {
  border-color: var(--primary);
  background-color: var(--primary);
  color: #fff;

  svg path {
    fill: #fff;
  }
}
.solid:not(:disabled):hover {
  background-color: var(--primaryA11y);

  color: #fff;
}

// 테두리 없음
.borderNone {
  border: 0;
}
