// color
$W-primary: #2e6ff2;
$W-background: #fff;
$W-surface: #121314;
$W-grayLv1: #f3f5fa;
$W-grayLv2: #d9dbe0;
$W-grayLv3: #8d9299;
$W-grayLv4: #47494d;

$W-primaryA11y: #2861d2;
$W-grayLv3A11y: #6c7074;

$W-error: #ff3440;
$W-warn: #ffc533;
$W-activation: #dee8ff;

$W-code-pink: #c93864;
$W-code-purple: #964dd1;
$W-code-blue: #2e5dd6;
$W-code-green: #328026;
$W-code-orange: #e37c00;

$D-primary: #3075ff;
$D-background: #1f2123;
$D-surface: #ffffff;
$D-grayLv1: #121314;
$D-grayLv2: #595f66;
$D-grayLv3: #d9dbe0;
$D-grayLv4: #f3f5fa;
$D-error: #fc7377;
$D-warn: #ffe187;
$D-activation: #2b3444;

$D-code-pink: #ed4779;
$D-code-purple: #c893fd;
$D-code-blue: #618dff;
$D-code-green: #50c140;
$D-code-orange: #ffa52a;
